<div class="container">
  <div class="row">
    <div *ngIf="isLoading" class="text-center" style="height:400px;width:100%"> <br><br><br><br><br>Loading .. </div>
    <div class="col-md-10 ">



      <div class="post-preview" *ngFor="let objBlogList of blogList?.listOfBlogPosts">
        <a [routerLink]="'/codeviewer/'+objBlogList.postId">
          <h6 class="post-title">
            {{objBlogList.postTitle}}
          </h6>
          <h3 class="post-subtitle">
            {{objBlogList.postDescription}}
          </h3>
        </a>
        <p class="post-meta">Posted on {{objBlogList.postedOn | date:'dd-mm-yyyy'}}</p>
        <hr>
      </div>
      <!-- <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div> -->
    </div>
  </div>
</div>
